<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="test.css" />
        {{styles}}
    </head>

    <body>
        <div class="certificate">
            <div class="header">
                Accredited by the NBA and NAAC with 'A' grade; Approved by the
                AICTE; Affiliated to JNTUH; ISO 9001:2005 Certified; <br />
                Granted status of 2(f) and 12(B) under UGC Act, Government of
                India; Maisammaguda, Hyderabad 500100. <br />
            </div>
            <div class="certificatetitle">
                <h1>Certificate of Participation</h1>
            </div>
            <div class="certificatetext">
                This is to certify that <b>{{Name}}</b> of {{Section}} has
                participated in the {{EventName}} conducted by
                {{EventOrganizingBody}} on {{EventDate}}.
            </div>
            <div class="certificatesignatures">
                <div class="left">
                    <div class="someassholesign">
                        <img src="" alt="Sign" />
                        <h2>{{EventOrganizerName}}</h2>
                    </div>
                </div>
                <div class="right">
                    <div class="principalsign">
                        <img src="" alt="Principal Sign" />
                        <h2>Principal</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
